# Compiled Python files
__pycache__/
*.pyc

# Dependency directories
venv/
env/
env.bak/
.env

# Distribution / packaging
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg

# Optional: Editor/IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.pyc
