/* styles.css */

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

/* Navbar Styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.logo {
    font-size: 1.5rem;
    margin: 0;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: #00bcd4;
}

.dark-mode-btn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.dark-mode-btn:hover {
    color: #00bcd4;
}

/* Section Styles */
.section {
    padding: 100px 0;
}

.container h2 {
    margin-bottom: 20px;
}

/* Dark Mode Styles */
.dark-mode {
    background-color: #111;
    color: #fff;
}